<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
 <b>Tags:</b>
  <%= join_tags(@project) %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Date:</b>
  <%= @project.date %>
</p>

<p>
  <b>Tag:</b>
  <%= @project.tag_id %>
</p>

<h2>Comments</h2>
<%= render @project.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>